
<!-- carrusel -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/image/ALCALDIA-AL-DIA-03-1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/image/banner-alcaldia-home_Mesa-de-trabajo-1-1.jpg" class="d-block w-100"
        alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../../assets/image/CON-CLICK_Mesa-de-trabajo-1.png" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<!-- Page Heading -->

<!-- Content Row -->
<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">

          <div class="text-primary " style="text-align:center">
            CUCUTA SEGURA Y CON CONVIVENCIA SOCIAL
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class=" text-success " style="text-align:center">
              CUCUTA CON CULTURA PARA TODOS</div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class=" text-info " style="text-align:center">CUCUTA CON EDUCACION DE CALIDAD
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-warning" style="text-align:center">
              CUCUTA TERRITORIO DE TRANSFORMACION DIGITAL</div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content Row -->

<div class="row">

  <!-- Content Column -->
  <div class="col-lg-6 mb-4">

    <!-- Project Card Example -->


    <!-- Color System -->


  </div>

  <div class="container">
    <div class="col-20 ">

      <!-- primera fase -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h2 class="m-0 font-weight-bold text-primary" style="text-align:center">DICIENDO Y HACIENDO</h2>
        </div>
        <div class="card-body">
          <div class="text-center">
            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 50rem;"
              src="../../../assets/image/IMG-20220526-WA0403-ppfojukr3njhpdkfcltjekvgnuqvos5juwjcgggq8c.jpg" alt="...">
          </div>
          <h5 style="text-align: center" class="text-primary"> <strong> GARANTIZAREMOS LA TRANQUILIDAD Y LA SEGURIDAD EN
              ESTA JORNADA ELECTORAL,
              CON EL ACOMPAÑAMIENTO DEL EJÉRCITO Y LA POLICÍA NACIONAL: ALCALDE JAIRO YÁÑEZ</strong></h5>
        </div>
      </div>

      <!-- segunda fase -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h2 class="m-0 font-weight-bold text-warning" style="text-align:center">TAMBIEN AVANZAMOS EN..</h2>
        </div>
        <div class="container mb-4 mt-4 ml-3">
          <div class="row">
            <div class="col-sm">
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/image/card1.jpeg" class="card-img-top" style="height: 17.5rem">
                <div class="card-body">
                  <h5 class="card-title text-primary">INGLÉS AL PARQUE</h5>
                  <p>La inauguración será este sábado 11 de junio a las 8:00 a.m., con una transmisión en vivo.</p>

                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card" style="width: 18rem;">
                <img src=".../../../assets/image/card3.jpeg" class="card-img-top" style="height: 17.5rem">
                <div class="card-body">
                  <h5 class="card-title text-primary">JORNADA SISBEN MOVIL</h5>
                  <p>Los asistentes pueden realizar sus solicitudes de Inconformidad, inclusión, modificación y retiro.
                  </p>

                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card" style="width: 18rem;">
                <img src="../../../assets/image/card2.jpg" class="card-img-top" style="height: 17.5rem">
                <div class="card-body">
                  <h5 class="card-title text-primary">CLASIFICACIONES</h5>
                  <p>Tener el Sisbén no garantiza el acceso automático a los programas sociales.</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <!-- tercera fase -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h2 class="m-0 font-weight-bold text-danger" style="text-align:center">EVENTOS</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mb-4 mt-4">
          <div class="col mb-4">
            <div class="card">
              <img src="../../../assets/image/card4.png" class="card-img-top img-fluid" style="max-height: 100%;max-width: 100%">
              <div class="card-body">
                <h5 class="card-title text-danger">Jornada de Servicios Móviles</h5>
                <p class="card-text">Los invitamos a participar de las jornadas móviles de servicios de la estrategia
                  'Sembrando la migración' para recibir la oferta de salud, protección, educación e inclusión productiva
                  .</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card">
              <img src="../../../assets/image/card5.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-danger">Yo compro en mi Norte</h5>
                <p class="card-text">Si te perdiste la feria de cafés especiales, no dejes pasar esta oportunidad. En
                  junio llega Yo Compro En Mi Norte, el evento más efectivo para hacer negocios.</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card">
              <img src="../../../assets/image/card6.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-danger">Experiencia Gastronómica</h5>
                <p class="card-text">upo Spezia se atrevió a eliminar de su menú el salmón para reemplazarlo por trucha
                  de Norte de Santander. José Domingo Castillo es su chef y nos contará cómo ha sido este proceso..</p>
              </div>
            </div>
          </div>
          <div class="col mb-4">
            <div class="card">
              <img src="../../../assets/image/card7.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-danger">ALBORADA: Mercado Artesanal</h5>
                <p class="card-text">¡Estamos a seis días para la segunda versión de Alborada! Vuelve este gran mercado
                  artesanal para mostrar a los cucuteños el oficio de la bisutería, tejeduría, marroquinería, trabajo en
                  madera.</p>
              </div>
            </div>
          </div>
        </div>
      </div>



      <!-- Approach -->


    </div>
  </div>
</div>
