<!-- carrusel -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/image/ALCALDIA-AL-DIA-03-1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/image/banner-alcaldia-home_Mesa-de-trabajo-1-1.jpg" class="d-block w-100"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/image/CON-CLICK_Mesa-de-trabajo-1.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <!-- Page Heading -->
  
  <!-- Content Row -->
  <div class="row">
  
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
  
            <div class="text-primary " style="text-align:center">
              CUCUTA SEGURA Y CON CONVIVENCIA SOCIAL
            </div>
  
          </div>
        </div>
      </div>
    </div>
  
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class=" text-success " style="text-align:center">
                CUCUTA CON CULTURA PARA TODOS</div>
  
            </div>
  
          </div>
        </div>
      </div>
    </div>
  
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class=" text-info " style="text-align:center">CUCUTA CON EDUCACION DE CALIDAD
              </div>
  
            </div>
  
          </div>
        </div>
      </div>
    </div>
  
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-warning" style="text-align:center">
                CUCUTA TERRITORIO DE TRANSFORMACION DIGITAL</div>
  
            </div>
  
          </div>
        </div>
      </div>
    </div>


    
  </div>

  <div class="container">
    <div class="col-20 ">

        <!-- primera fase -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h2 class="m-0 font-weight-bold text-primary" style="text-align:center">Misión y Vision
            </h2>
          </div>
          <div class="card-body">
            <div class="text-center">
             <h3 style="text-align:left" class="text-danger"> <strong>Orientacion del gobierno</strong></h3>

             <h6 style="text-align:justify;color:black">Nuestro modelo de gobierno está fundamentado en principios, 
               valores y virtudes, que refuerzan unos compromisos irrenunciables
                por los cuales la ciudadanía votó y por tal motivo, se traducen en 
                6 líneas estratégicas que orientan la acción, gestión e inversión d
                el municipio por los siguientes cuatro años. Esta estrategia tuvo y 
                tendrá, especialmente en cuenta, la participación e intervención de los jóvenes y de las generaciones 
               de relevo para vincularlos en los procesos de cambio constante en nuestro entorno.</h6> <br/>

               <h6 style="text-align:justify;color:black">Por eso, una de las finalidades de la actual administración 
                consiste en recuperar el sentido de lo público y el honor de hacer y construir desde la política como pasión
                 y vocación persistente de las sociedades contemporáneas, cuya integridad y coherencia reivindican al grupo 
                 social juvenil también como altamente político por su poder de cohesión social que, además, no se compra ni se venda, porque 
                “el honor no tiene precio”, promoviendo actuaciones con transparencia, eficacia y eficiencia.</h6> <br/>

                <h6 style="text-align:justify;color:black">Para lograrlo nos basaremos en el modelo de gestión pública de gobierno abierto,
                   en aras de hacer una gestión articulada que genere alianzas internacionales, nacionales, regionales y locales que
                    aporten activamente a la consecución de los objetivos estratégicos trazados en el Plan de Desarrollo Municipal 
                    para los siguientes cuatro años, cimentando las bases para las generaciones futuras.</h6> <br/>

                    <h6 style="text-align:justify;color:black">Hacemos la invitación permanente para que cada habitante de este territorio sea veedor y 
                      constructor del desarrollo territorial como objeto público y colectivo.</h6> <br/>

                     
                      <h3 style="text-align:left" class="text-danger"> <strong> Nuestros Compromisos irrenunciable</strong></h3>
                      <h6 style="text-align:justify;color:black">1. Guerra frontal contra la corrupción  </h6> 
                      <h6 style="text-align:justify;color:black">2. Recuperar y hacer valer la capacidad de denuncia  </h6> 
                      <h6 style="text-align:justify;color:black">3. Meritocracia, apertura total y transparencia en la contratación pública  </h6> 
                      <h6 style="text-align:justify;color:black">4. No pedir, ni ofrecer, ni pagar favores con puestos públicos o votos  </h6>
                      <h6 style="text-align:justify;color:black">5. Reducir los indicadores de desempleo, pobreza e informalidad  </h6>
                      <h6 style="text-align:justify;color:black">6. Fortalecer la calidad de la educación  </h6> 
                      <h6 style="text-align:justify;color:black">7. Promover la comunicación intergeneracional  </h6>
                      <h6 style="text-align:justify;color:black">8. Fortalecer la cultura ciudadanía y el cuidado del ambiente  </h6>
                      <h6 style="text-align:justify;color:black">9. Promover la visión de largo plazo y la internacionalización económica  </h6>
                      <h6 style="text-align:justify;color:black">10. Priorizar la inversión social y las acciones en educación, emprendimiento, valor agregado, innovación, promoción de la asociatividad y tecnología.  </h6><br/>

                      <h3 style="text-align:left" class="text-danger"> <strong> Principios</strong></h3>
                
                      <ul>
                        <li style="text-align:justify;color:black">Transparencia Gubernamental  para generar información y apertura de datos, con el fin de que la ciudadanía sea la primera en estar al tanto del manejo de la ciudad, y participe de manera activida d en la veeduría de la planificación y ejecución de los recursos públicos.</li>
                        <li style="text-align:justify;color:black">Cultura Ciudadana como el conjunto de valores, actitudes, comportamientos y normas compartidas que generan sentido de pertenencia, impulsan el progreso, facilitan la convivencia y c onducen al respeto del patrimonio común y el amor por nuestra ciudad.</li>
                        <li style="text-align:justify;color:black">La Equidad  para implementar justicia e igualdad de oportunidades entre hombres y mujeres, respetando las características particulares y diferenciales que componen una sociedad.</li>
                        <li style="text-align:justify;color:black">Reconocimiento  de la vida humana y de los seres sintientes a partir de la diversidad cultural y social del territorio, sus saberes y tradiciones, pero también entendiendo que este es un proceso interno de todos como sociedad en el que, a través del reconocimiento m utuo, se pueda construir un proyecto común de desarrollo con justicia social.</li>
                        <li style="text-align:justify;color:black">Participación Ciudadana  para el logro de acuerdos comunes que generen acciones orientadas al fortalecimiento de la inteligencia colectiva, a partir del reconocimiento de la difer encia y la diversidad.</li>
                        <li style="text-align:justify;color:black">Corresponsabilidad  como el compromiso, obligación y deber que poseen los individuos, miembros de una sociedad o empresa, de contribuir voluntariamente para una sociedad más justa y de proteger el ambiente.</li>
                        <li style="text-align:justify;color:black">Cultura de la innovación y emprendimiento  para facilitar procesos de transformación social a través de soluciones alternativas y creativas a problemas estructurales de la sociedad, en un contexto participativo e incluyente.</li>
                        <li style="text-align:justify;color:black">Cooperación y articulación multinivel  para incrementar el n ivel de impacto de acciones estratégicas con enfoque territorial.</li>
                      </ul> <br/>


                      <h3 style="text-align:left" class="text-danger"> <strong> Valores</strong></h3>
                
                      <ul>
                        <li style="text-align:justify;color:black">Integridad: entendida como la coherencia interna y externa entre lo que se promueve y se hace, para actuar con rectitud y transparencia.</li>
                        <li style="text-align:justify;color:black">Honestidad:  es la conducta orientada desde la verdad y la justicia, que denota un comportamiento transparente.</li>
                        <li style="text-align:justify;color:black">Respeto:  se concibe  como la capacidad de identificar y reconocer las diferencias del otro.</li>
                        <li style="text-align:justify;color:black">Liderazgo:  hace referencia a las acciones ejemplares que logran inspirar a otros de manera espontánea.</li>
                        <li style="text-align:justify;color:black">Vocación de servicio: es la capacidad de efectuar funciones institucionales con l a mejor disposición y calidez, donde el interés colectivo prima sobre el individual.</li>
                        <li style="text-align:justify;color:black">Inclusión: es todo enfoque y actitud política que orienta sus acciones hacia el reconocimiento de la diversidad y de las diferencias individuales.</li>
                       
                      </ul>
                      
            </div>
            
          </div>
        </div>

      </div>
  </div>
  